.home {
	&-banner {
		background: url(./images/home/banner.jpg);
		background-size: cover;
		height: 90vh;
		display: flex;
		align-items: center;
		color: $white;
		position: relative;

		.quotes-wrapper {
			@include respond-to(mobile) {
				margin-top: 180px;
				.glide__slide {
					text-align: center;
				}
				.glide__bullets {
					text-align: center;
				}
			}
		}

		.image-wrapper {
			position: absolute;
			top: 110px;
			right: 50px;
			bottom: 0px;
			width: 400px;
			overflow: hidden;

			@include respond-to(tablet) {
				right: 0px;
			}

			@include respond-to(mobile) {
				display: none;
			}

		}

		.arrow-down {
			width: 50px;
			height: 50px;
			background: $white;
			border-radius: 50%;
			display: grid;
			place-items: center;
			color: orange;
			position: absolute;
			bottom: 0;
			left: 73px;
			transform: translateY(50%);
			box-shadow: 0px 5px 18px 0px rgba(197, 197, 197, 0.38);
			cursor: pointer;

			i {
				-moz-animation: bounce 2s infinite;
				-webkit-animation: bounce 2s infinite;
				animation: bounce 2s infinite;
			}
		}
	}

	&-lead-from-self {
		padding: 70px 0;

		article {
			h2 {
				font-size: 30px;
				color: $hover-state;

				span {
					font-size: 50px;
					color: #ff870d;
					display: block;
					text-transform: uppercase;
				}
			}

			.primary-cta {
				color: $white;
				@include respond-to(mobile) {
					margin: 0px auto;
				}
			}
		}
	}

	&-life-changing-experience {
		padding: 70px 0;
		background-image: url(./images/home/clouds.png);
		background-size: cover;
		background-position: bottom;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

		@include respond-to(mobile) {
			clip-path: none;
		}

		article {
			h2 {
				font-size: 30px;
				color: #70b1cd;
			}

			.wrapper {
				display: grid;
				grid-template-columns: repeat(3, auto);
				place-items: center;

				@include respond-to(mobile) {
					grid-template-columns: auto;
					grid-template-rows: repeat(3, auto);
				}

				.item {
					background: $white;
					border-radius: 35px;
					box-shadow: 0px 6px 18px 0px rgba(188, 217, 231, 0.75);
					width: 300px;
					height: 300px;
					display: grid;
					place-items: center;

					@include respond-to(tablet) {
						margin-bottom: 20px;
					}
					@include respond-to(mobile) {
						margin-bottom: 20px;
					}

					img {
						max-width: 200px;
					}

					.meta-info {
						text-align: center;

						h4 {
							font-size: 25px;
							color: $hover-state;
							margin: 0;
						}

						p {
							font-size: 14px;
						}
					}
				}
			}

			.primary-cta {
				background: $white;
				color: $hover-state;
				box-shadow: 0px 6px 18px 0px rgba(87, 123, 139, 0.38);
				margin-left: unset;

				@include respond-to(mobile) {
					margin: 0px auto;
				}

				&:before, &:after {
					background: #e0eaee;
				}
			}
		}
	}

	&-client-speak {
		padding: 70px 0;
		background: $light-blue;
		clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
		position: relative;
		top: -92px;
		margin-bottom: -95px;

		@include respond-to(mobile) {
			top: 0px;
			margin-bottom: 0px;
			clip-path: none;
		}

		article {
			text-align: center;

			h2 {
				font-size: 40px;
				color: $white;
			}

			.client-speak {
				.glide__slide {
					p {
						font-family: $rufina;
						color: #1f5c76;
					}

					span {
						font-family: $roboto-slab;
						font-size: 15px;
						font-weight: 300;
						color: $white;
					}
				}
			}
		}
	}
}





