.my-story {
	&-heading {
		@extend %heading;
	}

	&-lead-from-self {
		padding: 70px 0px 200px 0px;
		background-image: url(./images/home/clouds.png);
		background-size: cover;
		background-position: bottom;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

		@include respond-to(mobile) {
			clip-path: none;
			-webkit-clip-path: none;
			padding: 70px 0px;
			text-align: center;
		}


		h2 {
			font-size: 30px;
			color: $hover-state;
			margin: 0px 0px 15px 0px;
		}

		img {
			max-width: 350px;
			@include respond-to(mobile) {
				margin-bottom: 30px;
			}
		}
	}

	&-life-changing-experience {
		padding: 150px 0;
		background: $light-blue;
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
		position: relative;
		top: -139px;
		margin-bottom: -140px;

		@include respond-to(mobile) {
			clip-path: none;
			-webkit-clip-path: none;
			top: 0px;
			margin-bottom: 0px;
			padding: 70px 0;
		}

		h2 {
			font-size: 30px;
			color: #155d7c;
			text-align: center;
		}

		p {
			color: #155d7c;
		}

		.wrapper {
			background: $white;
			border-radius: 35px;
			box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.2);
			width: 170px;
			height: 170px;
			display: grid;
			place-items: center;

			@include respond-to(mobile) {
				margin: 60px auto 30px auto;
				width: 250px;
				height: 250px;
			}

			img {
				max-width: 150px;
			}
		}

		.meta-info {

			h4 {
				color: $white;
				font-size: 25px;
				margin: 0;

				@include respond-to(mobile) {
					text-align: center;
				}
			}

			span {
				color: $white;
				font-size: 16px;
				display: block;

				@include respond-to(mobile) {
					text-align: center;
				}
			}

			p {
				@include respond-to(mobile) {
					text-align: center;
				}
			}

		}

	}
}

