#my-story {
	.first-section {
		background: url(./images/home/banner.jpg);
		background-size: cover;
		height: 22vh;
		display: flex;
		align-items: center;
		color: $white;
		position: relative;

		h1 {
			font-size: 40px;
			text-transform: uppercase;
			color: #ffb260;
			height: 100%;
			position: absolute;
			bottom: -5px;
		}
	}

	.second-section {
		padding: 70px 0px 200px 0px;
		background-image: url(./images/home/clouds.png);
		background-size: cover;
		background-position: bottom;
		clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);

		h2 {
			font-size: 30px;
			color: $hover-state;
			margin: 0px 0px 15px 0px;

			&:before {
				margin: 0;
			}
		}

		img {
			max-width: 350px;
		}
	}

	.third-section {
		padding: 150px 0;
		background: $light-blue;
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
		-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
		position: relative;
		top: -139px;
		margin-bottom: -140px;

		h2 {
			font-size: 30px;
			color: #155d7c;
			text-align: center;
		}
		p{
			color: #155d7c;
		}

		.wrapper{
			background: $white;
			border-radius: 35px;
			box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.2);
			width: 170px;
			height: 170px;
			display: grid;
			place-items: center;

			img {
				max-width: 150px;
			}
		}

		.meta-info {

			h4 {
				color: $white;
				font-size: 25px;
				margin: 0;
			}

			span {
				color: $white;
				font-size: 16px;
			}
		}

	}
}

