.footer {

	&-top {
		display: grid;
		place-items: center;
		background: $light-blue;

		@include respond-to(mobile) {
			padding: 0;
		}

		.navigation {

			@include respond-to(mobile) {
				width: 100%;
				.main-menu {
					display: flex;
					flex-direction: column;
					justify-content: space-around;

					.menu-item {
						height: 40px;
						text-align: center;
					}
				}
			}

			.main-menu {
				.menu-item {
					a {
						color: $white;
						@include font($rufina, 17px, normal);
						margin: 0px 20px;

						&:hover {
							color: $hover-state;
						}
					}

					&.current-menu-item {
						a {
							color: $hover-state;
						}
					}
				}
			}
		}
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $white;
		padding: 10px 20px;

		@include respond-to(mobile) {
			flex-direction: column-reverse;
		}

		.copyright {
			p {
				font-size: 14px;
				@include respond-to(mobile) {
					text-align: center;
				}
			}
		}

		.social-links {
			a {
				color: $light-orange;
				font-size: 14px;

				&:not(:last-child) {
					margin-right: 15px;
				}

				&:hover {
					color: $hover-state;
				}
			}
		}
	}
}