.footer {

	&-top {
		display: grid;
		place-items: center;
		background: $light-blue;

		.navigation {

			.main-menu {
				.menu-item {
					a {
						color: $white;
						@include font($rufina, 17px, normal);
						margin: 0px 20px;

						&:hover {
							color: $hover-state;
						}
					}

					&.current-menu-item {
						a {
							color: $hover-state;
						}
					}
				}
			}
		}
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $white;
		padding: 10px 20px;

		.copyright {
			p {
				font-size: 14px;
			}
		}

		.social-links {
			a {
				color: $light-orange;
				font-size: 14px;

				&:not(:last-child) {
					margin-right: 15px;
				}

				&:hover {
					color: $hover-state;
				}
			}
		}
	}
}