.header {
	position: absolute;
	width: 100%;
	z-index: 100;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	place-items: center;
	padding: 20px;

	@include respond-to(mobile){
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, auto);
		padding: 20px 0px;
		grid-gap: 20px;
	}

	&-logo {
		.image {
			width: 100%;
			max-width: 80px;
		}
	}

	&-navigation {
		text-align: center;

		.main-menu {
			.menu-item {
				a {
					color: #fff;
					@include font($rufina, 17px, normal);
					padding: 5px 0px;
					margin: 0px 20px;

					&:hover {
						color: $hover-state;
					}
				}

				&.current-menu-item {
					a {
						color: $hover-state;
						border-bottom: 1px solid $hover-state;
					}
				}
			}
		}
	}

	&-social-links {
		min-width: 100px;
		display: flex;
		justify-content: space-around;

		a {
			color: #fff;
			font-size: 14px;

			&:hover {
				color: $hover-state;
			}
		}
	}
}