.header {
	position: absolute;
	width: 100%;
	z-index: 100;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	place-items: center;
	padding: 20px;

	@include respond-to(mobile) {
		grid-template-columns: 100%;
		grid-template-rows: repeat(3, auto);
		padding: 20px 0px;
		grid-gap: 20px;
	}

	&-logo {
		.image {
			width: 100%;
			max-width: 80px;
		}
	}

	.hamburger {
		display: none;
		@include respond-to(mobile) {
			display: block;
			position: absolute;
			cursor: pointer;
			right: 20px;
			top: 30px;
			z-index: 2;
			.line {
				width: 25px;
				height: 2px;
				background: #fff;
				margin: 5px;
			}
		}
	}

	&-navigation {
		text-align: center;

		@include respond-to(mobile) {
			width: 100%;
			position: fixed;
			top: 0;
			height: 100%;
			background: $orange;
			display: none;
			clip-path: circle(200px at 100% -10%);
			-webkit-clip-path: circle(200px at 100% -10%);
			transition: all 1s ease-out;
			pointer-events: none;

			&.open{
				display: block;
				clip-path: circle(1200px at 100% -10%);
				-webkit-clip-path: circle(1200px at 100% -10%);
				pointer-events: all;
			}

			.main-navigation {
				height: 100%;

				.main-menu {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					height: 100%;

					.menu-item a {
						padding: 0;
						margin: 0;
					}
				}
			}


		}

		.main-menu {
			.menu-item {
				a {
					color: $white;
					@include font($rufina, 17px, normal);
					padding: 5px 0px;
					margin: 0px 20px;

					&:hover {
						color: $hover-state;
					}
				}

				&.current-menu-item {
					a {
						color: $hover-state;
						border-bottom: 1px solid $hover-state;
					}
				}
			}
		}
	}

	&-social-links {
		min-width: 100px;
		display: flex;
		justify-content: space-around;

		@include respond-to(mobile) {
			min-width: 200px;
		}

		.link {
			color: $white;
			font-size: 14px;

			&:hover {
				color: $hover-state;
			}
		}
	}
}