@mixin font($family, $size, $weight) {
	font: {
		family: $family;
		size: $size;
		weight: $weight;
	}
}

@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: $tablet - 1px) {
			@content;
		}
	} @else if $media == tablet {
		@media only screen and (min-width: $tablet) {
			@content;
		}
	} @else if $media == tablet-only {
		@media only screen and (min-width: $tablet + 1px) and (max-width: $desktop - 1px) {
			@content;
		}
	} @else if $media == desktop {
		@media only screen and (min-width: $desktop) {
			@content;
		}
	} @else if $media == desktop-only {
		@media only screen and (min-width: $desktop + 1px) and (max-width: $widescreen - 1px) {
			@content;
		}
	}
}