@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Rufina:400,700&display=swap');

$rufina: 'Rufina', serif;
$roboto-slab: 'Roboto Slab', serif;


$tablet: 769px !default;
$desktop: 1000px !default;
$widescreen: 1192px !default;
$fullhd: 1384px !default;


$white: #ffffff;
$light-blue: #8fc4db;
$hover-state: #56565e;